/* 
===============
секція про нас
===============
 */
.about {
  @include section;
}

.about__list {
  @include mq(tab-only) {
    flex-wrap: wrap;
    gap: 30px;
  }

  @include mq(tab) {
    display: flex;
  }
}

.about__item {
  @include mq(mob-only) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(tab-only) {
    width: 354px;
  }

  @include mq(desk) {
    display: block;
    align-items: center;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.about__title {
  color: var(--secondary-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;

  @include mq(mob-only) {
    text-align: center;
  }
}

.about__icon {
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @include mq(tab) {
    width: 354px;
  }

  @include mq(desk) {
    width: 270px;
  }
}

.about__text {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: 0.42px;
}
