/* 
===============
HERO
===============
 */
.hero {
  height: 400px;
  align-items: center;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img/img-hero_mob.jpg);
  @include mq(retina) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img/img-hero_mob@2x.jpg);
  }

  @include mq(tab) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img/img-hero_tab.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-img/img-hero_tab@2x.jpg);
    }
  }

  @include mq(desk) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img/img-hero_desk.jpg);

    @include mq(retina) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-img/img-hero_desk@2x.jpg);
    }

    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-family: var(--main-font);
  color: var(--title-txt-cl);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include mq(tab-only) {
    width: 360px;
    margin-left: 204px;
    margin-right: 204px;
  }

  @include mq(desk) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__btn {
  color: var(--title-txt-cl);
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-cl);
  margin: 0 auto;
  display: block;
  border: none;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
